<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="todo-item">
    <template>
        <style>
            .todo-item {
                display: inline-block;
            }
        </style>

        
        <iron-ajax auto
            url="[[href]]"
            headers="[[headers]]"
            handle-as="json"
            last-response="{{todo}}">
        </iron-ajax>

        <div class="todo-item">
            [[ todo.properties.text ]] - [[ todo.properties.isDone ]]
            Actions:
            <template is="dom-repeat" items="[[todo.actions]]">
                <button>[[item.title]]</button>
            </template>
        </div><br />
    </template>

    <script>
        class TodoItem extends Polymer.Element {
            static get is() { return 'todo-item' }

            static get properties() {
                return {
                    todo: Object,
                    href: String,
                    token: String,
                    headers: {
                        type: Object,
                        computed: '_getHeaders(token)',
                    }
                }
            }

            _getHeaders(token) {
                return { "x-token": token }
            }
        }

        customElements.define(TodoItem.is, TodoItem)
    </script>
</dom-module>