<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="todo-item.html">

<dom-module id="todo-list">
    <template>
        <iron-ajax auto
            url="[[href]]"
            headers="[[headers]]"
            handle-as="json"
            last-response="{{todos}}">
        </iron-ajax>
        
        <h1>Todos: [[todos.properties.total]]</h1>
        <div>
            <template is="dom-repeat" items="[[todos.entities]]">
                <todo-item
                    href="[[item.href]]"
                    token="[[token]]"/>
            </template>
        </div>
    </template>

    <script>
        class TodoList extends Polymer.Element {
            static get is() { return 'todo-list' }
            static get properties() {
                return {
                    todos: Object,
                    href: String,
                    token: String,
                    headers: {
                        type: String,
                        computed: '_getHeaders(token)',
                    }
                }
            }

            _getHeaders(token) {
                return { "x-token": token }
            }
        }

        customElements.define(TodoList.is, TodoList)
    </script>
</dom-module>